QLabel {
  font-family: Inter;
  color: white;
  text-shadow: 0px 0px 20px #ffffffcc;
}

QMainWindow {
  background-color: #110b17;
  background-image: url('assets/palm tree near dome.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

#status-bar {
  width: calc(100% - 42px);
  height: 40px;
  background-color: #00000060;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px #000000ee;
/*  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;*/
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
    backdrop-filter: blur(16px) saturate(140%);
    -webkit-backdrop-filter: blur(16px) saturate(140%);
    /*border-radius: 12px;*/
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.align-right {
  right: 20px;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.login-title {
  font-size: 24px;
  margin-bottom: 0;
  text-shadow: 0px 0px 10px #ffffff40;
}

.center-title {
  position: fixed;
  left: 50%; /* Center horizontally */
  transform: translate(-50%); /* Offset by half its width and height */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    pointer-events: none;

  }
  to {
    opacity: 1;
    pointer-events: all;

  }
}

.fadein {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.fadeout {
  animation: fadeout 0.5s ease-in-out forwards;
}

QLineEdit {
  background: none;
  color: white;
  font-family: 'Inter';
  border: 1px solid #ffffff50;
  border-radius: 20px;
  outline: none;
  margin-right: 8px;
  transition-duration: 0.1s;
  height: 20px;
  padding: 5px;
}

QPushButton {
  background: none;
  color: white;
  font-family: 'Inter';
  border: 1px solid #ffffff50;
  border-radius: 20px;
  outline: none;
  margin-right: 8px;
  transition-duration: 0.2s;
  height: 30px;
  padding: 5px;
}

QPushButton:hover {
  background: #ffffff10;
  scale: 1.01;
}

.datetime {
  width: 30%;
  height: 80%;
  background-color: none;
  position: fixed;
  top: 50%;
  right: 0; 
  transform: translateY(-50%);
  padding-left: 20px;
  padding-right: 18%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* Centers horizontally */
  align-items: center; 
  margin-top: 15px;
}

.time {
  font-size: 100px;
  margin: 0;
  margin-bottom: 75px;
  width: 100%;
  position: fixed;
  font-family: 'Inter';
  text-shadow: 0px 0px 30px #000000aa;
}

.date {
  font-size: 50px;
  margin: 0;
  margin-top: 75px;
  position: fixed;
  width: 100%;
  font-family: 'InterThin' !important;
  text-shadow: 0px 0px 15px #000000;
}

.top-fade {
  width: 100%;
  height: 15%;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2));
  position: fixed;
  top: 0;
  z-index: -5;
}

.bottom-fade {
  width: 100%;
  height: 15%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  position: fixed;
  bottom: 0;
  z-index: -5;
}

.login-status {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  background: #000000aa;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes login-start {
  from {
    opacity: 0;
    pointer-events: none;
    scale: 1;

  }
  to {
    opacity: 1;
    pointer-events: all;
    scale: 1.05;

  }
}

.login-animation-start {
  animation: login-start 0.5s ease-out forwards;
}

@keyframes login-end {
  from {
    opacity: 1;
    pointer-events: all;
    scale: 1.05;
  }
  to {
    opacity: 0;
    pointer-events: none;
    scale: 1;
  }
}

.login-animation-end {
  animation: login-end 0.5s ease-in forwards;
}